body {
    background-color: peachpuff;
    background-image: url(53ef5dd19677a.image.jpg);

}


    h1 { 
        color: green;
        font-family: verdana;
       }



    h1 {
    text-align: center;
     }





p {
    font-family: verdana;
    font-size: 20px;
    text-align: center;
    color: green;
}

.container {
    text-align: center;
}

img {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    max-width: 10%;
    height: auto;

}




